<div class="update-appointment-container">
  <h1>{{ 'updateAppointment.title' | translate:{projectName: appointment.projectName} }}</h1>
  <div class="scheduling-content">
    <form>
      <mat-form-field>
        <mat-label>{{ 'updateAppointment.type' | translate }}</mat-label>
        <mat-select [(ngModel)]="appointment.type" name="type">
          <mat-option value="virtual">{{ 'appointments.virtual' | translate }}</mat-option>
          <mat-option value="face-to-face">{{ 'appointments.face-to-face' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'updateAppointment.chooseDate' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" 
               [(ngModel)]="appointment.date" 
               name="date"
               [min]="minDate"
               [max]="maxDate"
               [matDatepickerFilter]="dateFilter">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'updateAppointment.selectTime' | translate }}</mat-label>
        <mat-select [(ngModel)]="appointment.time" name="time">
          <mat-option *ngFor="let time of availableTimes" [value]="time">
            {{ time }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="actions">
        <button mat-raised-button color="primary" (click)="saveChanges()">
          {{ 'updateAppointment.saveChanges' | translate }}
        </button>
        <button mat-button (click)="cancel()">
          {{ 'updateAppointment.cancel' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
