:host {
  button {
    all: unset; // Reset all inherited styles
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 9px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 0.5rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;

    &.btn-prev {
      background-color: var(--primary-color);
      color: var(--text-color-dark);
    }

    &.btn-save {
      background-color: var(--confirm-color);
      color: var(--text-color-dark);
    }

    &.btn-reset {
      background-color: var(--primary-color);
      color: var(--text-color-dark);

      &:hover:not([disabled]) {
        background-color: #d32f2f;
      }

      &[disabled] {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }

    &.btn-submit {
      background-color: var(--secondary-color);
      color: var(--text-color-dark);

      &:hover {
        background-color: var(--primary-color-dark);
      }
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
      opacity: 0.65;
    }
  }
}

:host-context(body.dark-mode) {
  button {
    &.btn-prev {
      background-color: var(--text-color-dark);
      color: var(--primary-color);
    }

    &.btn-reset {
      background-color: var(--text-color-dark);
      color: var(--primary-color);
    }
  }
}
